/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +        GLOBALS           +
                                               +                          +
                                               ++++++++++++++++++++++++++++
                                               */

.main-body
{
    background-color: #B0A27B;
    width: 100%;
	height:00%;
}

.main-navigation-btns-fontstyle
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;

    color: white;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 0%;
    border:none;
    width:50%;
    height:40px;
    border-radius:18px;
}
.main-navigation-btns  {background-color:#B8860B;}

.menu-iframe
{
    width:60%;
    height: 800px;
    /* margin-top: -2px; */
    align-content: center;
}
#active-link-page
{
	border-bottom: 2px solid red;
}
.amount-pay-label
{
	font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;

    color: white;
}
#bottom-btn-div-id
{
	margin: 0;
	
	  top: 0%;
	  left: 35%;
	  right:50%;
	  width:30%;
}
.assign-btn
{
    background-color:#8366f4;
    color: white;
    font-weight: bold;
    border:none;
    margin-left: -6%;
	
    width:100%;
    height:40px;
    border-radius:18px;
}
#staff-work-on-div
{
	width:100%;
    
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.client-view-feedbacks
{
    font-family: 'Open Sans Condensed', arial, sans;
	width:100%;
	padding: 30px;
   
	background: #FFFFFF;
	
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	
}
.admin-btn
{
    background-color:#8a85ff;
    color: white;
    font-weight: bold;
    border:none;
    width:100%;
    height:40px;
    border-radius:10px;
	
}
#results-table-display-id
{
	width:100%;
	background-color:red;
}
/* begin  table css */
.user-scrolling-table
{
	display:block;
	width: 100%;
	
    background-color: #6666ff;
	overflow: auto;
}
.js_table_headers
{
    background-color: blue;
	color:white;
	 font-size: 18px;
    font-family:Times New Roman Times, serif;
}
.js_table_row
{
    background-color:#2196F3;
    /* color: white; */
    border-bottom:1px solid #ddd;
    font-size: 18px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;

}
.js_table_row:hover
{
    background-color: black;
    cursor: pointer;
}
/* End table css */

/* Begin status table */

.status-table
{
    width: 100%;
	height:50px;
    background-color: #6666ff;
	overflow: auto;
	
}
.status-table-tr:hover
{
    background-color: black;
    cursor: pointer;
}
.status-table-td
{
    font-size: 15px;
	padding-left:10px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;
}
/* Begin status table */

/*=======================================================================================================*/
                                            /*
                                               ++++++++++++++++++++++++
                                               +                       +
                                               +     CLIENT SIDE       +
                                               +                       +
                                               +++++++++++++++++++++++++
                                               */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  background:#B0A27B;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                        Styling Customer Order List
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.list-class
{
    padding:15px 15px 15px 15px; font-size: 16px;
    font-family:Times New Roman Times, serif;
    color: blue;
    /* float: left; */
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;

}
*{box-sizing: border-box;}

/* Remove margins and padding from the list */
ul {margin: 0; padding: 0;}

/* Style the list items */
ul li 
{
    cursor: pointer;
    position: relative;
    font-size: 18px;
    transition: 0.2s;
    height: 45px;
    background:#C0C0C0;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    /* padding: 12px; */
    text-decoration: none;
    display: block;
}

/* Set all odd list items to a different color  #f9f9f9 (zebra-stripes) */
ul li:nth-child(odd) {background:#C0C0C0;}

/* Darker background-color on hover */
ul li:hover {background: #ddd;}

/* When clicked on, add a background color and strike out text */
ul li.checked 
{ background: #888; color: #fff; text-decoration: line-through;}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close-x {
    /* position: absolute; */
    background-color: #f44336;
    color: white;
    /* top: 0; */
    width: 20%;
    height: 6%;
    cursor: pointer;
    /* align-content: center; */
    padding: 12px 12px 12px 12px;
}

.close-x-on-lists 
    {position: absolute; right: 0; top: 0; padding: 12px 12px 12px 12px;}

.close-x-on-lists:hover {background-color: #f44336; color: white;}

/*=======================================================================================================*/
                                            /*
                                               ++++++++++++++++++++++++
                                               +                       +
                                               +     REGISTER PAGE     +
                                               +                       +
                                               +++++++++++++++++++++++++
                                               */
.registering-info-label
{
    color: blue;
}
.register-form
{
    background-color: whitesmoke;
    width: 50%;
}
.regester-form-labels
{
    color:black;
    padding-left: 5%;
    font-size: 15px;
    font-weight:bold;
    font-family:Times New Roman Times, serif;
}
.regester-form-inputs
{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 200;
	padding: 7px;
    border: none;
    border-bottom: 3px solid black;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
    height: 35px;

    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: blue;
    
}
.regester-form-inputs:hover{border-bottom: 4px dotted green;}

.logout-login-regester-btns-fontstyle
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;

    color: white;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 0%;
    border:none;
    width:50%;
    height:40px;
    border-radius:18px;
}
.login-btn  {background-color:#B8860B;}
.logout-btn {background-color:#B8860B;}
.register-btn {background-color:#B8860B;}

/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   SCHOOL NAVIGATION      +
                                               +                          +
                                               ++++++++++++++++++++++++++++
                                               */


#school-login-div-id 
{
	width:100%;
	
} 

#school-register-div-id { display: none;}
.login-form
{
    width: 100%;
    background-color: white;
}
.regester-form-labels
{
    color:black;
    padding-left: 5%;
    font-size: 15px;
    font-weight:bold;
    font-family:Times New Roman Times, serif;
}
.Browse-label
{
    cursor: pointer;
    width:200px;
    padding:3px;
    font-weight : bold;
    background:lightblue;
    border:2px solid dodgerblue;
}
.img-to-be-displayed
{
    width: 200px;
    height: 200px;
    background:lightblue;
}
.register-display-grid-container
{
    display: grid; 
    grid-template-columns: auto auto;
    grid-gap: 0px;
    padding: 8px;
    /* margin-top: -55px;  */
}


.down-load-btn
{
	 background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 12px 12px 12px;
  cursor: pointer;
  font-size: 18px;
  height:35px;
}
.calender-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  
  background-color:white;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
}

.calender-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.calender-container {
  padding: 2px 16px;
}
.calender-card-hr {
    border: 2px solid blue;
}
/*=======================================================================================================*/
                                            /*
                                               ++++++++++++++++++++++++++
                                               +                        +
                                               +   STAFF GUI            +
                                               +                        +
                                               ++++++++++++++++++++++++++
                                               */

.status-table
{
    width: 100%;
    background-color: #6666ff;
}

.table-headings-tr
{
    background-color:blue;
    color: white;
    font-size: 20px;
    font-weight:bold;
    font-family:Times New Roman Times, serif;
}


.orders-status-td{text-align: center;}
.orders-avenue-td
{
    margin-left: 200px;
    font-size: 15px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;
}
.orders-table-tr:hover
{
    background-color: #6163de;
    cursor: pointer;
}
.form_input
{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 50%;
	padding: 7px;
	border: none;
	border-bottom: 2px solid blue;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
    text-align: center;

}
.form_input:focus {border-bottom: 2px solid black;}

.submit-btn
{
    background-color:blue;
    border:none;
    width:40%;
    height:40px;
    border-radius:18px;
    color: white;
}

.staff-popup-price-estiments
{
    background-color: rgb(209, 78, 30);
}

.staff-popup-price-confirm-estiments
{
    background-color: coral;
}
.order-inputs
{
    box-sizing: border-box;
	
	outline: none;
	display: block;
	width: 70%;
	padding: 7px;
	border: none;
	border-bottom: 2px solid blue;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 35px;
    /* text-align: center; */

}
.order-inputs:focus{border-bottom: 2px solid black;}
.customer-feedback-div-left
{
    background-color: rgb(81, 81, 161);
}
.staff-feedback-div-right
{
    background-color: rgb(81, 81, 161);
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after 
{
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel 
{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.view-btns-children
{
    background-color:#8a85ff;
    border:none;
    width:45%;
    height:45px;
    border-radius:10px;
}
.entries_page_fonts
{
    font-size: 20px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;
}
.orders_from_to_form
{
    font-family: 'Open Sans Condensed', arial, sans;
	width: 100%;
	padding: 30px;
	background: #FFFFFF;
	
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	
}

.agency-show-btn
{

    width: 95%;
    background-color: #7b68ee;
    height:35px;
    border-radius:50px;
}
.close-child-btn
{
    background-color:#807cfc;
    width:100%;
    height:35px;
    border-radius:18px;
    color: white;
}
.form_input
{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 50%;
	padding: 7px;
	border: none;
	border-bottom: 2px solid blue;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
    text-align: center;

}
.form_input:focus {border-bottom: 2px solid black;}

/*
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                        Styling Autocomplete
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.autocomplete 
    {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }
.autocomplete-items 
    {
        color: white;
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: black;
    border-bottom: 1px solid #d4d4d4;
    }
.autocomplete-items div:hover { background-color: blue; }

#customer-selected-details-div-id{display: none;}

/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   NAVIGETION            +
                                               +                          +
                                               ++++++++++++++++++++++++++++
                                               */

.log-icone
{
    margin-top: 10px;
    width: 80%;

}
/* .sub-navigation-links-display-grid-container
{
    display: grid; 
    grid-template-columns:  auto auto auto auto;
    grid-gap: 0px;
    padding: 8px;
    margin-top: -55px; 
} */


.navi-links-btns  {margin-top: -10px; height: 40px; text-decoration: none; display: block;}
.navi-links-btns:hover {color:blue; border-bottom : 5px solid blue; }

.Name-log-icone
{
    width: 50%;
    margin-left: 20%;
}
.HomeIcon
{
    font-size:36px;
    color:white;
    font-weight:bold;
}
.header
{
    position: fixed;
    height: 100%;
    width: 0;
    padding-top: 60px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #D8C8A0;
}
.profile-side-bar
{
    position: fixed;
    height: 100%;
    width: 0;
    padding-top: 60px;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #D8C8A0;
}

.profile-side-bar .closebtn
{
    position:absolute;
    left: 2px;
    /* margin-left:50%; */
    top:4px;
    font-size:30px;
    width: 20%;
    height: 9%;
    background-color: red;
}
.header .closebtn
{

    position:absolute;
    right: 2px;
    /* margin-left:50%; */
    top:4px;
    font-size:30px;
    width: 20%;
    height: 9%;
    background-color: red;
}
.close-navi-span
{
font-size: 20px;
color: white;
width: 20%;
height: 50px;
cursor: pointer;
padding: 12px 12px 12px 12px;
}

#navigetion-links-div
{
    text-align: center;
}

#NaviDivHeader {background-color: #D8C8A0;height:57px; width: 100%;}
.open-navigation-label
{
    font-size:35px;
    cursor:pointer;
    margin-left: 8px;
    color: white;
}

#open-navigation-label-profile-div {float:right; margin-top: -50px;}
.open-navigation-profile-label
{
    font-size:35px;
    cursor:pointer;
    color: white;
    margin-right: 50%;
}

.main-navigation-links-labels
{
    color:blue;
    text-decoration:none;
    transition:0.3s;
    display:block;
    padding:5px 5px;
    font-size: 18px;
    font-family:Times New Roman Times, serif;
}
.main-sub-navigation-links-labels
{
    color:blue;
    
    /* display:inline-flexbox; */
	
    padding:5px 5px;
    /* font-size: 16px;
    font-family:Times New Roman Times, serif; */
}

.main-sub-navigation-links-labels:hover {color:blue; border-bottom : 5px solid blue;}

/* // profile side bar */
.profile-php-profile-html-fontstyle
{
    padding:5px 5px;
    font-size: 17px;
    /* font-weight: bold; */
    font-family:Times New Roman Times, serif;
}
.profile-html-labels {color:black;}
.profile-php-labels {color:blue;}

/* 
    =====================>>>>>> SUB NAVIGATION
*/
.pay-webp-img,.feedback-webp-img,.arrival-webp-img
{
    width: 35px;
    height: 35px;
    margin-bottom: 22px;
    margin-top: 9px;
    margin-left: 5%;

}
.archive-webp-img
{
    width: 35px;
    height: 35px;
    margin-bottom: 22px;
    margin-top: 5px;
    margin-left: 5%;
    
}
.profile-svg-img 
{
    width: 65px;
    height: 55px;
    margin-top: -9px; 
    margin-right: 5%;
}


.admin-navigation-sublinks
{
    background-color: #C6B78F;
    font-size: 17px;
    font-family:Times New Roman Times, serif;
    color:#993300;   
    padding: 15px 15px 15px 15px;
    height: 10%;
    width: 100%;
}