/* 
    =====================>>>>>> Responsive Web Design - Media Queries
*/

/* Extra small devices (phones, 600px and down) */
@media only  screen and (max-width: 600px) 
{
.small-span{display:block;}
.large-span {display:none;}
.pay-webp-img,.feedback-webp-img,.arrival-webp-img
{
    width: 20px;
    height: 20px;
    margin-bottom: 22px;
    margin-top: 5px;
    margin-left: 3%;
}
.archive-webp-img
{
    width: 20px;
    height: 20px;
    margin-bottom: 22px;
    margin-top: 5px;
    margin-left: 2%;
    
}
#NaviDivHeader {background-color: red;height:43px;}

.profile-svg-img 
{
    width: 33px;
    height: 33px;
    /* margin-bottom: 22px; */
    margin-top: 11px; 
    margin-right: 2%;
}

    
.open-navigation-label
{
    font-size:20px;
    cursor:pointer;
    margin-left: 4px;
    color: white;
}
.icone-count-spans
{
    display: none;
    color: red;
}
.orders_from_to_form
{

	width: 80%;
}
.admin-btn
{
    width:80%;
    height:50px;
}

.assign-btn
{
    width:35%;
    height:50px;
}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
.example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
.example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
.example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{


}
@media only screen and (orientation: landscape) 
{
    /* body {
    background-color: lightblue;
    } */
}

/* ============================ */
/* Large desktop */
@media (min-width: 1200px) { 
    /* body    {
        padding-left: 50px;
        padding-right: 50px;
        color: green;
    } */
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) { 
    /* body    {
        padding-left: 30px;
        padding-right: 30px;
        color: purple;
    } */
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    /* body    {
        padding-left: 20px;
        padding-right: 20px;
        color: blue;
    } */
}

/* Landscape phones and down */
@media (max-width: 480px) 
{ 
    /* body    {
        padding-left: 5px;
        padding-right: 5px;
        color: red;
    } */
}